.await {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.await .tips img {
  width: 160px;
  display: block;
  margin: 30px auto;
}
.await .tips p {
  font-size: 37px;
  text-align: center;
}
