html * {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-width: 320px;
    height: 100%;
    color: #333;
    font-size: 12px;
    font-family: "Microsoft YaHei",Helvetica,STHeiTi,sans-serif;
}

ul,
ol,
li {
    list-style: none;
}
input,
button {
    outline: none;
}

a {
    color: #333;
    text-decoration: none;
}
a.active {
    text-decoration: none;
}

img {
    width: 100%;
}

em,
i {
    font-style: normal;
}